<div id="the-carousel" class="relative w-full h-[300px]">
  <div class="absolute bottom-0 text-3xl text-white bg-[rgba(50,50,50,0.5)] z-10 p-2 rounded animate__animated animate__pulse"><i class="las la-chevron-circle-down"></i></div>
  <button class="absolute top-0 left-0 z-20 text-3xl rounded btn-primary" data-action="click->place-show#showImageForm" data-place-show-target="addImgBtn">
    <i class="las la-plus-circle"> </i>
    <i class="las la-camera-retro"></i>
  </button>
  <div class="relative w-full rounded overflow-x-scroll h-[300px]">
    <% images.each_with_index do |url, i| %>
      <img
        src="<%= url %>"
        class="block object-cover w-full !w-full h-[300px]"
        alt="Missing Image"
        loading="lazy"
      />
    <% end %>
  </div>
</div>
