<footer class="bg-white mt-[64px]">
  <div class="px-6 py-12 mx-auto max-w-7xl md:flex md:items-center md:justify-between lg:px-8">
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-xs text-center text-gray-500 leading-5">&copy; 2023 Japan Craft Beer Adventure. All rights reserved.</p>
    </div>
  </div>
</footer>
