<h1>A place has a new update waiting to be reviewed</h1>
<a href="https://www.japanbeermap.com/admin/place_updates/<%=@place_update.id%>">Click here to view the place update</a>
<p>
<%= @place_update.to_json %>
</p>

